@import url('../font/Nohemi-VF.ttf');

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--title-text);
    
    font-family: 'Nohemi';
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--subtitle-text);
    
    font-family: 'Nohemi';
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--subtitle-text);
    
    font-family: 'Nohemi', sans-serif;
}

p, span, li {
    font-weight: 400;
    color: var(--body-text);

    font-family: 'Inter', sans-serif;

    line-height: 1.6rem;
}

p {
    margin-bottom: 1.6rem;
}

a {
    color: var(--link-text);
    text-decoration: none;
}