@use 'reset';

@use 'colours';
@use 'typography';

@use 'components/project-card';
@use 'components/tag';
@use 'components/skillset-card';
@use 'components/skill';
@use 'components/form';
@use 'components/button';

@use 'pages/index';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

::selection {
    background-color: var(--primary);
    color: var(--on-primary);
}

a {
    transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        color: var(--primary);
    }
}

section, footer {
    display: flex;
    justify-content: center;

    > .content {
        width: 100%;
        max-width: 1280px;
    }
}
