@use '../mixins';

body {
    display: flex;
    align-items: stretch;
    overflow-y: hidden;

    background-color: var(--background);
}

#site-loader {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 1000;
    pointer-events: none;

    background-color: var(--background);
    opacity: 1;
    transition: 1s opacity ease-in-out;

    &.loaded {
        opacity: 0;
    }
}

#main-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

@keyframes circle-bounce {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(-3rem) scale(0.75);
        opacity: 0.75;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

#panel {
    height: 100vh;
    width: auto;

    z-index: 100;
    pointer-events: none;

    overflow-x: hidden;
    overflow-y: visible;

    > .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;

        margin-top: 10rem;
        margin-bottom: 10rem;
        margin-left: var(--side-padding);

        a {
            // Required to make the links clickable (as pointer-events is none for #panel)
            pointer-events: auto;
        }

        .title {
            position: relative;
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            align-items: start;

            a {
                text-decoration: none;
                color: var(--title-text);
            }

            #hero-glow {
                position: absolute;
                top: -45rem;
                left: -35rem;
                width: 100rem;
                height: 100rem;
                z-index: -1;
                transform-origin: 30% 45%;

                filter: blur(100px);
                opacity: 0.5;

                #hero-glow-circle-one {
                    transform-origin: 45% 65%;
                    fill-opacity: 1;
                    animation: circle-bounce 5s infinite ease-in-out;
                }
                #hero-glow-circle-two {
                    transform-origin: 65% 65%;
                    fill-opacity: 0.6;
                    animation: circle-bounce 5s infinite ease-in-out 2s;
                }
            }
        }

        .nav {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a {
                &::before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    height: 0.5rem;
                    width: 0.5rem;
                    margin-right: 1rem;

                    border-radius: 1rem;
                    background-color: var(--link-text);

                    transition:
                        background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
                        height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                }

                &.highlighted {
                    color: var(--primary);

                    &::before {
                        background-color: var(--primary);
                        height: 1.5rem;
                    }
                }
            }
        }

        .links {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            li a {
                font-size: 18pt;

                transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

                &:hover {
                    color: var(--primary);
                }
            }
        }

        .fade {
            transition: max-height 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}

#main-content {
    width: 100%;
    min-height: 100vh;

    z-index: 10;

    position: absolute;
    inset: 0 0 0 0;

    overflow-y: auto;

    overflow-x: hidden;
    scroll-behavior: smooth;
}

section,
footer {
    &:not(#panel) {
        width: 100%;

        > .content {
            width: 100%;
            margin-left: 10rem;
            margin-right: var(--side-padding);
            max-width: calc(100% - var(--side-padding) - 10rem);
        }

        &:not(#hero) {
            padding-top: 10rem;
        }
    }
}

section#about {
    strong {
        font-size: 1.1rem;
    }
}

section#hero {
    height: 100vh;
    display: flex;
    align-items: center;

    > .content {
        display: flex;
        flex-direction: column;

        img {
            width: 25rem;
            height: 25rem;
            align-self: flex-end;

            border-radius: 25rem;
        }
    }
}

section#projects {
    > .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

section#skills {
    > .content {
        display: flex;
        flex-direction: column;
        align-items: flex;
    }
}

section#contact {
    > .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            margin-top: 3rem;
            margin-bottom: 4rem;

            .details {
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }

            .field {
                width: 100%;
                label {
                    display: inline-block;
                    margin-bottom: 1rem;
                }
            }

            textarea {
                height: 10rem;
            }
        }
    }
}

footer {
    margin-bottom: 10rem;

    p:last-child {
        margin-bottom: 0;
    }
}

@include mixins.mobile-layout {
    body {
        overflow-y: auto;
    }

    #main-container {
        display: block;
        flex-direction: column;

        height: fit-content;
        overflow-y: scroll;
    }

    #panel {
        height: auto;
        width: 100vw;

        > .content {
            margin: 5rem 1rem;

            .title {
                white-space: normal;
            }

            .nav {
                display: none;
            }
        }
    }

    #main-content {
        position: relative;
        height: fit-content;
    }

    section,
    footer {
        &:not(#panel) {
            > .content {
                margin-left: 1rem;
                margin-right: 1rem;
                max-width: calc(100% - var(--side-padding) - 1rem);
            }
        }
    }

    section#hero {
        display: flex;
        height: auto;

        > .content {
            img {
                width: 15rem;
                height: 15rem;
                align-self: center;

                border-radius: 15rem;
            }
        }
    }

    section#projects {
        > .content {
            align-items: center;
        }
    }

    section#skills {
        > .content {
            align-items: center;
        }
    }

    section#contact {
        > .content {
            form {
                .details {
                    flex-direction: column;
                }
            }
        }
    }

    footer {
        margin-bottom: 5rem;
    }
}

// Debug
// #panel {
//     outline: 1px solid rgb(255, 0, 0);
//     > .content {
//         outline: 1px solid rgba(255, 0, 0, 0.5);
//     }
// }

// #main-content {
//     outline: 1px solid rgb(0, 255, 0);
// }

// section,
// footer {
//     outline: 1px solid rgb(0, 0, 255);
//     > .content {
//         outline: 1px solid rgba(0, 0, 255, 0.5);
//     }
// }

// .project-card {
//     outline: 1px solid rgb(255, 0, 255);
//     > .content {
//         outline: 1px solid rgba(255, 0, 255, 0.5);
//     }
// }
