

section#hero {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);

    display: flex;
    align-items: center;

    .sticky {
        position: fixed;
        top: auto;
        bottom: auto;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        background-color: var(--background);

        h1 {
            font-size: 6rem;
        }
    }
}



section#about {
    width: 100vw;
    height: 100vh;
}
