@use '../mixins';

body {
    display: flex;
    align-items: stretch;
    overflow-y: hidden;

    background-color: var(--background);
}

#site-loader {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 1000;
    pointer-events: none;

    background-color: var(--background);
    opacity: 1;
    transition: 1s opacity ease-in-out;

    &.loaded {
        opacity: 0;
    }
}

#main-container {
    display: flex;
    height: 100vh;
    width: 100vw;

    // @include mixins.screen-medium {
    //     flex-direction: column;
    // }
}

#panel {
    height: 100vh;
    width: auto;

    z-index: 100;
    pointer-events: none;

    > .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;

        margin-top: 10rem;
        margin-bottom: 10rem;
        margin-left: var(--side-padding);

        a {
            // Required to make the links clickable (as pointer-events is none for #panel)
            pointer-events: auto;
        }

        .title {
            white-space: nowrap;

            a {
                text-decoration: none;
                color: var(--title-text);
            }
        }

        .nav {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a {
                &::before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    height: 0.5rem;
                    width: 0.5rem;
                    margin-right: 1rem;

                    border-radius: 1rem;
                    background-color: var(--link-text);

                    transition:
                        background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
                        height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                }

                &.highlighted {
                    color: var(--primary);

                    &::before {
                        background-color: var(--primary);
                        height: 1.5rem;
                    }
                }
            }
        }

        .links {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            li a {
                font-size: 18pt;

                transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

                &:hover {
                    color: var(--primary);
                }
            }
        }

        .fade {
            transition: max-height 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}

#main-content {
    width: 100%;
    min-height: 100vh;

    z-index: 10;

    position: absolute;
    inset: 0 0 0 0;

    overflow-y: auto;
    scroll-behavior: smooth;
}

section,
footer {
    &:not(#panel) {
        width: 100%;

        > .content {
            width: 100%;
            margin-left: 10rem;
            margin-right: var(--side-padding);
        }

        &:not(#hero) {
            padding-top: 10rem;
        }
    }
}

section#hero {
    height: 100vh;
    display: flex;
    align-items: center;

    > .content {
        display: flex;
        flex-direction: column;

        img {
            width: 25rem;
            height: 25rem;
            align-self: flex-end;
        }
    }
}

section#projects {
    > .content {
        width: 100%;
        max-width: calc(100% - var(--side-padding) - 10rem);

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

footer {
    margin-bottom: 10rem;

    p:last-child {
        margin-bottom: 0;
    }
}

@include mixins.mobile-layout {
    body {
        overflow-y: auto;
    }

    #main-container {
        display: block;
        flex-direction: column;

        height: fit-content;
        overflow-y: scroll;
    }

    #panel {
        height: auto;
        width: 100vw;

        > .content {
            margin: 5rem 1rem;

            .title {
                white-space: normal;
            }

            .nav {
                display: none;
            }
        }
    }

    #main-content {
        position: relative;
        height: fit-content;
    }

    section,
    footer {
        &:not(#panel) {
            > .content {
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }

    section#projects {
        > .content {
            align-items: center;
        }
    }

    section#hero {
        display: none;
    }

    footer {
        margin-bottom: 5rem;
    }
}

// Debug
// #panel {
//     outline: 1px solid rgb(255, 0, 0);
//     > .content {
//         outline: 1px solid rgba(255, 0, 0, 0.5);
//     }
// }

// #main-content {
//     outline: 1px solid rgb(0, 255, 0);
// }

// section,
// footer {
//     outline: 1px solid rgb(0, 0, 255);
//     > .content {
//         outline: 1px solid rgba(0, 0, 255, 0.5);
//     }
// }

// .project-card {
//     outline: 1px solid rgb(255, 0, 255);
//     > .content {
//         outline: 1px solid rgba(255, 0, 255, 0.5);
//     }
// }
