input[type='text'],
input[type='email'],
textarea {
    width: 100%;

    border: 1px solid var(--outline);
    background-color: var(--text-field-background);
    border-radius: 4px;
    padding: 1rem;

    &:focus {
        outline: none;
        border-color: var(--primary);
    }
}