.project-card {
    &:hover {
        background-color: var(--card-background);
        border-top: 1px solid var(--outline);

        .content .expanded {
            height: 25rem;
        }
    }

    padding: 2rem;
    border-radius: 8px;
    border-top: 1px solid transparent;

    transition:
        background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1),
        border-top 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .main {
            display: flex;
            flex-direction: row;

            gap: 2rem;

            .thumbnail {
                flex: 1 0 auto;
                width: 10rem;
                aspect-ratio: 1 / 1;
                background-color: lightgrey;
                border-radius: 4px;
            }

            .info {
                flex: 1 1 auto;

                .title {
                    margin-bottom: 1rem;

                    h3 {
                        display: inline;
                        margin-right: 0.5rem;
                    }
                }

                .tags {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                }
            }
        }

        .expanded {
            display: flex;
            flex-wrap: nowrap;
            gap: 1rem;

            height: 0;

            transition: height 1s cubic-bezier(0.075, 0.82, 0.165, 1);

            img {
                width: 15rem;
                height: 100%;
                background-color: lightgrey;
                border-radius: 4px;
            }
        }
    }
}
