.skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    .label {
        display: inline-block;
        flex-grow: 0;
        padding: 0.5rem 1rem;

        border-radius: 50rem;
        background-color: var(--primary-overlay-strong);
        color: var(--primary);
    }

    .bar {
        position: relative;
        flex-grow: 1;
        height: 4px;

        .background,
        .foreground {
            position: absolute;
            inset: 0 0 0 0;
            border-radius: 4px;
        }

        .background {
            background-color: var(--progress-background);
        }

        .foreground {
            background-color: var(--progress-foreground);
        }
    }

    .level {
        flex-grow: 0;
    }
}
